{%extends 'index.html'%}
<section>{%block head%} <title>Home</title>{%endblock%}</section>
<section>
	{%block body%}
	<div class="text-center">
		<div class="d-flex justify-content-center">
			<h1 class="mt-3">Informações</h1>
		</div>
		<hr />
		<div class="my-5">
			<h4>Formação</h4>
			<div class="my-3">
				Ensino médio - Completo (2019) Colégio Adventista de São José dos Campos
			</div>
			<div class="my-3">
				Ensino superior (Licenciatura em Física) - Incompleto (UNIFEI)
			</div>
			<div class="my-3">
				Ensino superior (Tecnólogo - Desenvolvimento de software
				multiplataformas) - Cursando (FATEC)
			</div>
		</div>
		<div class="my-5">
			<h4>Experiência</h4>
			<div class="my-3">
				<a href="https://app.blitzpay.com.br/" target="_blank">
					Blitzpay - Desenvolvedor front-end júnior (2021-atualmente)
				</a>
			</div>
		</div>
		<div class="my-5">
			<h4>Competências</h4>
			<div class="d-flex my-3 justify-content-center competencias">
				<div class="mx-2">Inglês - fluente</div>
				<div class="mx-2">HTML, CSS - Intermediário</div>
				<div class="mx-2">Linguagens - Javascript, Python</div>
				<div class="mx-2">Frameworks - Flask, Django, Vue.js</div>
			</div>
		</div>
	</div>
	{%endblock%}
</section>
