{%extends 'index.html'%}
<section>{%block head%} <title>Home</title>{%endblock%}</section>
<section>
	{%block body%}
	<div class="text-center">
		<div class="d-flex justify-content-center">
			<h1 class="mt-3">Sobre</h1>
		</div>
		<hr />
		<div class="my-5">
			<h4>Apresentação</h4>
			<div class="my-4">
				Me chamo Gabriel Oliveira dos Santos. Nasci no dia 22 de Dezembro de
				2001 e cresci em São José dos Campos. Sou solteiro por falta de opção,
				tenho 2 irmãos e sou facilmente o mais inteligente.
			</div>
			<div class="my-4">
				Atualmente trabalho como desenvolvedor e estudo na minha área de
				atuação, tranquei a faculdade de física no meio de 2022 após desistir de
				ser pobre e ingressei no curso de DSM da Fatec.
			</div>
			<div class="my-4">
				Pratiquei artes marciais por 5 anos e isso resume o que já estudei fora
				do ambiente acadêmico. Meus hobbies envolvem ouvir música, tocar violão,
				assistir desenho japonês, futebol, pagode, aproveitar um charuto,
				churrasco e um copo de cerveja.
			</div>
			<div class="my-4">
				Tenho um gato de estimação a quem dedico meu instagram todo dia, e sapo
				é um dos meus animais favoritos.
			</div>
		</div>
	</div>

	{%endblock%}
</section>
